extends default

block content
  h2 Email Student Records
  form(action="/email_records" method="post")
    .form-group
      label(for="email") Email Address:
      input(type="email" id="email" name="email" required)
    .form-group
      label Select Students to Email:
      each student in students
        .checkbox-group
          input(type="checkbox" id=`student-${student.student_id}` name="selectedStudents" value=`${student.student_id}`)
          label(for=`student-${student.student_id}`)= `${student.first_name} ${student.last_name}`
    .form-group
      button.btn.btn-primary(type="submit") Send Email

block scripts
  script(src="/js/script.js")
